

*{
    box-sizing:border-box;
  }
  body{
    background:green;
  }
  header{
    background:#229452;
    color:black;
    width:auto;
    height:fit-content;
    top:0;
    padding:17px;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-8px;
  }
  .bout_text_logo{
    margin-left:10px;
    font-family:arial;
    font-size:23px;
    text-decoration:italic;

    color:black;
    font-weight:bold;
  }
  nav{
    float:right;
    overflow:hidden;
    margin-top:7px;
    word-spacing:24px;
    letter-spacing:3px;
    margin-right:20px;
  }
  nav>a{
    color:black;
    text-decoration:none;
    font-family:calibri;
    font-size:17px;
  }
  nav>a:hover{
    color:black;
    text-decoration:underline;
    transition:2s ease-in-out;
    transition-delay:0.7s;
  }
  
  #bodyfirst{
    display:flex;
    margin-top:100px;
  }
  .intro_body_main{
    width:100%;
    color:white;
    margin-left:40px;
  }
  .name_intro{
    font-family:arial;
    font-size:35px;
    word-spacing:10px;
    letter-spacing:8px;
    font-weight:bold;
  }
  #slash{
    width:13%;
    height:10px;
    color:white;
    background:white;
    outline:none;
    border-radius:10px;
  }
  
  .sentence_to_write{
    text-align:left;
    font-family:arial;
    font-size:17px;
    color:black;
    width:15%;
    letter-spacing:5px;
  }
  .bout_text_logo2{
    margin-left:10px;
    font-family:arial;
    font-size:26px;
    color:white;
    font-weight:bold;
    text-decoration:underline;
  }
  
  .dp_message{
    color:white;
    margin-top:70px;
    font-family:calibri;
    font-size:32px;
    font-weight:bold;
  }
  .diploma_list{
    color:white;
    font-family:arial;
    font-size:17px;
    letter-spacing:5px;
  }
  .diploma_list>li{
    color:black;
  }
  .education_sect{
    float:right;
  }
  .edu_cert_write{
    color:white;
    font-family:calibri;
    font-size:30px;
    letter-spacing:6px;
    font-weight:bold;
    margin-top:30px;
  }
  .edu_lists{
    color:black;
    font-family:arial;
    font-size:17px;
    letter-spacing:6px;
  }
  .job_sect{
    font-size:17px;
    margin-top:70px;
    letter-spacing:5px;
    margin-left:30px;
    font-family:calibri;
    
  }
  .hobbies_mssg{
    color:white;
    font-family:calibri;
    font-weight:bold;
    font-size:34px;
    margin-top:40px;
  }
  #hobbies_lists{
    color:black;
    font-family:arial;
    font-size:17px;
    letter-spacing:5px;
  }
  footer{
    background:#229452;
    color:black;
    text-align:center;
    padding:8px;
    width:auto;
    height:fit-content;
    margin-left:-8px;
    margin-right:-8px;
    margin-bottom:-8px;
    margin-top:50px;
    font-family:arial;
    font-size:17px;
    letter-spacing:3px;
  }