* {
	box-sizing: border-box;
}
body {
	background: rgb(67, 148, 241);
}
.container{
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
.profile-img img{
	width: 240px;
	height: 240px;
}
.calc_container {
	width: fit-content;
	height: fit-content;
	background: #000;
	box-shadow: 0px 1px 5px 2px rgba(44, 43, 43, 0.315);
	background-blend-mode: exclusion;
}
.output_container {
	background: rgb(255, 255, 255);
	width: 100%;
	height: 120px;
	border-bottom: 0px solid rgba(82, 81, 81, 0.781);
	margin-top: 80px;
	text-align: right;
	padding: 8px;
	user-select: none;
}
.btn_hold {
	padding: 8px;
	word-spacing: 0px;
	text-align: justify;
	line-height: 40px;
}
button {
	padding: 9px;
	vertical-align: middle;
	width: fit-content;
	height: fit-content;
	font-family: humnst777 BlK BT;
	font-size: 15px;
	background: rgba(185, 184, 184, 0.219);
	outline: none;
	color: rgb(243, 242, 234);
	border: 0px;
	border-radius: 8px;
}
button:hover {
	color: #fff;
	opacity: 0.8;
	cursor: pointer;
}
.twelve {
	background: none;
	color: rgb(243, 242, 234);
	border: 0px;
}
.twelven {
	background: none;
	color: rgb(243, 242, 234);
	border: 0px;
}

/*history-design*/
#history-value {
	color: #6d6a6a;
	font-family: calibri;
	font-size: 25px;
	font-weight: bold;
	margin-right: 10px;
}
#result-value {
	color: #2a2a2a;
	font-family: calibri;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 3px;
	margin-right: 10px;
}

